p {
    /* font-family: 'Barlow', sans-serif; */
    font-family: 'Special Elite', cursive;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    background: url("../images/tech.jpg") fixed;
    background-size: 100%;
    background-color: black;
}

blockquote {
    margin-left: 40px;
    margin-right: 40px;
    background-color: #ddd;
    padding: 2em;
}

.navbar {
    background-color: rgb(55, 55, 56);
    padding: 20px;
}

.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top {
    background: white !important;
}

.navbar-brand {
    display: flex;
}

.nav-spacing {
    margin-right: 2em;
}

/* css for cohort59 words on nav */
#cohort59 {
    display: inline-block;

    /* Create a conic gradient. */
    /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
    background: #CA4246;
    background-color: #CA4246;
    background: conic-gradient(#CA4246 16.666%,
            #E16541 16.666%,
            #E16541 33.333%,
            #F18F43 33.333%,
            #F18F43 50%,
            #8B9862 50%,
            #8B9862 66.666%,
            #476098 66.666%,
            #476098 83.333%,
            #A7489B 83.333%);

    /* Set the background size and repeat properties. */
    background-size: 57%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-animation-rev 0.5s ease forwards;
}

#jumbheader {
    box-shadow: 2px 2px 2px rgb(43, 43, 43);
    background-color: #000484 !important;
    color: rgb(255, 255, 255);
    font-family: 'Special Elite', cursive;
    font-weight: bold;
}

#jumbheader2 {
    box-shadow: 2px 2px 2px rgb(43, 43, 43);
    border-radius: 20px;
    padding: 10px;
    background-color: #7aa9ec !important;
    text-align: center;
    color: rgb(0, 28, 76);
}

.header-text {
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 50px;
    color: white;
}

.title-font {
    text-align: center;
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
}

.nav-item:hover {
    color: #D06311;
}

.thanks-font {
    text-align: justify;
    font-family: 'Lato', sans-serif;
}

.logo {
    height: 50px;
}

.jumbotron.jumbotron-fluid {
    background: none;
}

.jumbotron.jumbotron-fluid img {
    background: none;
    width: 100%;
    margin-top: -80px;
}

main {
    margin-bottom: 20px;
    margin-top: -30px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.row {
    justify-content: center;
}

.navbar-collapse {
    justify-content: flex-end;
    font-weight: bold;
    text-transform: uppercase;
}

.col-md-3.cohortMems {
    border: 1px solid #d1d1d1;
    border-radius: 30px;
    box-shadow: 2px 2px 2px rgb(122, 122, 122);
    background: rgb(255, 255, 255);
    margin: 15px;
    margin-bottom: 20px;
}

.col-sm-2.technologies {
    border: none;
    border-radius: none;
    box-shadow: rgb(43, 43, 43);
}

.technos,
.words {
    margin-top: -55px;
    background: white;
    padding: 20px;
    border-radius: 20px;
}

.techs {
    width: 70px;
    margin: 20px 0px;
}

.words {
    padding: 50px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.card-img-top {
    width: 285px;
    padding: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: center;
}

.col,
[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.modal-body {
    display: block;
}

.studentContact {
    text-align: center;
    margin: 15px;
    display: flex;
    justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
    margin-bottom: .75rem;
}

.card-text {
    color: #D06311;
    margin: 15px;
}

.contactIcons {
    color: #337DC1;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contactIcons:hover {
    transform: scale(1.2);
}

.modal-header {
    background-color: rgb(206, 221, 255) !important;
    color: #001e48;
}

.modal-body img {
    width: 50%;
    height: 50%;
    box-shadow: 3px 3px 5px rgb(43, 43, 43);
    border-radius: 20px;
}

.backButton {
    margin-bottom: 1.5rem;
}

.navbar.navbar-light.bg-light.footer {
    font-size: 1em;
    background-color: #000484 !important;
    color: white;
}

#demo-date {
    text-align: center;
}

#demo-date a {
    color: #000484 !important;
}

button {
    cursor: pointer;
}

.btn-outline-primary {
    color: #001e48 !important;
    border-color: #001e48 !important;
}

.btn-outline-primary:hover {
    color: white !important;
    background-color: #001e48 !important;
}

/* adjusts size of contact icons depending on size of card */
@media (min-width: 992px) and (max-width: 1200px) {
    .fa-3x {
        font-size: 2.5em !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .fa-3x {
        font-size: 2em !important;
    }
}

@media (max-width: 900px) {

    /* body {
        background: url("../assets/images/bg.jpg") repeat;
    } */
    .jumbotron.jumbotron-fluid img {
        background: white;
        margin-top: 30px;
    }

    .jumbotron.jumbotron-fluid.sm-width {
        width: 100%;
    }

    .header-text {
        margin: 0 auto;
        height: 30px;
    }

    .header-text h2 {
        font-size: 1.5em;
        margin-top: -10px;
    }

    .modal-body {
        display: block;
    }

    .modal-content {
        width: 100%;
    }

    .modal-body img {
        width: 100%;
    }

    main {
        margin-bottom: 100px;
        margin-top: -50px;
        width: 100%
    }

    .navbar-brand img {
        padding-right: none;
    }

}